:root{
    --base : #0D1B2A;
    --primary : #1B263B;
    --secondary : #415A77;
    --lighter : #778DA9;
    --white : #E0E1DD;
}

.Food{
    height: 700px;
    background-color: var(--base);
    padding: 10px;
    display: flex;
    margin: 25px;
}


.dateAndAddNewBtn{
    display: flex;
}

.dateAndAddNewBtn button{
    margin : 10px;
    font-size:16px;
}

.dateAndAddNewBtn button:hover{
    background-color: #0D1B2A;
}

.Food h2{
    text-align: left;
    font-size:35px;
    padding: 0px;
    margin: 0px
}

.Tab{
    border-radius: 1em;
    width: 100%;
}


th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}





.FoodInput form{
    display: flex;
    flex-direction: column;
    background-color: var(--lighter);
    padding: 1.2em;
    border-radius: 0.3em;
}

.FoodInput button{
    background-color: var(--white);
    color: var(--base);
    padding: 7px 5px;
    width: 40%;
    margin-left: 25%;
    margin-top: 10px;
    font:100;
}

.FoodInput button:hover{
    background-color: var(--base);
    color: var(--white);
}

.FoodInput label{
    margin-right: 10px;
}

.FoodInput form div{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
}

.FoodInput input{
    border-radius: 0.2em;
    border: none;
    background-color: var(--white);
}

.Date{
    font-size: 30px;
    margin: 0;
    align-self: center;
}

.innerHeading{
    font-size:20px;
    margin: 0;
    margin-bottom: 10px;
}


.foodStats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    
}

.foodStats div{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.foodStats p{
    margin: 0;
    
}



  
@media screen and (max-width : 700px) {
    .Food{
        flex-direction: column;
    }
    
    .Tab{
        width: 100%;
        margin-bottom: 30px;
    }

    
}