:root{
    --base : #0D1B2A;
    --primary : #1B263B;
    --secondary : #415A77;
    --lighter : #778DA9;
    --white : #E0E1DD;
}

.navbar{
    background-color:  #415A77;
    display: flex;
    padding: 0px 20px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    margin-right: 20px;
}


.navItems{
    display: flex;
}


.navItems button{
    text-decoration: none;
    color:inherit;
    font-size: 14px;
    margin: 10px;
}

.navItems button:hover{
    background-color: #415A77;
}

.burger{
    display: none;
}

@media screen and (max-width : 600px){
    .menu{
        display: none;
    }
    .burger{
        display: block;
    }
}